<%- include("partials/header.ejs") %>


<body class="whole_blog">
    
    <div class="content">
        <div class="btn_container">
            <form action="/writeBlog" method="get">
                <input type="submit" class="btn_create" value="Create" />

            </form>
        </div>

        <div class="blog_container">
            <% let i=0; blogs.forEach(blog=>{ %>
                <div class="blog">
                <h3> <%=blog.title %></h3>
                    <p>Author: <%= blog.author%></p>
                    <p> <%= blog.content.slice(0,100)%>.....</p>
                        <p>Date: <%=blog.date%></p>

                        <div class="btns">
                            <form action="/view-blog" method="get">
                                <input type="hidden" name="blogIndex" value="<%=i%>">
                                <input type="submit" value="View"/>
                            </form>

                             <form action="/edit-blog" method="get">
                                <input type="hidden" name="blogIndex" value="<%=i%>">
                                <input type="submit" value="Edit"/>
                            </form>

                             <form action="/delete-blog" method="POST">
                                <input type="hidden" name="blogIndex" value="<%=i%>">
                                <input type="submit" value="Delete"/>
                            </form>
                        </div>
                        </div>

                        <% i++ %>
          <%  }) %>
        </div>
    </div>
    


</body>
<%- include("partials/footer.ejs") %>